.summary {
    cursor: pointer;
}

details {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

details span {
    display: inline-block;
}

details>summary {
    padding: 2px 6px;
    font-weight: 700;
    font-size: 16pt;
    cursor: pointer;
}

.hidden-column {
    display: none;
}
.hidden{
    display: none;
}
.assembly_data{
    display: flex;
}
@media print {
    #showCoverPageLabel, #showAssemblies, #showNests, #showSheets, .checkbox, #printout-controls, .nested-parts, details:not([open]) {
        display: none;
    }
    .group_details {
        border-color: transparent;
    }
    .page-break {
        page-break-after: always;
    }
    .nest, .sheets-table, .assembly-table, #sheets-layout, #nests-layout, #assemblies-list-layout{
        page-break-inside: avoid;
    }
}