@page {
    size: letter portrait;
    margin: 10px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: white;
}

.ui-table {
    background-color: white;
}

.page {
    background-color: white;
}
h2#components-heading{
    margin-bottom: 0px;
    text-align: center;
}
h2#laser-cut-parts-heading{
    margin-bottom: 0px;
    text-align: center;
}
.header-table-row {
    text-align: bottom;
    vertical-align: bottom;
    border: solid white 1px;
    border-bottom: 1px solid #ccc;
}

.ui-table th {
    vertical-align: bottom;
    text-align: center;
}

.ui-table tfoot tr td {
    vertical-align: top;
    /* Align content to the top */
    text-align: center;
    /* Horizontally center content */
}

.ui-table td {
    text-align: center;
    vertical-align: middle;
}

p {
    margin: 0px 0px;
}

/* Style for the title */
.title {
    position: absolute;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    width: 50%;
    top: 15px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* Style for the date */
.date {
    position: fixed;
    font-size: 10px;
    top: 0;
    right: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.tg-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.input-box {
    font-size: 16px;
}

.label {
    display: block;
    font-weight: bold;
}

.input-row {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    /* Add spacing between rows */
}

.input-row label {
    flex: 0 0 auto;
    margin-right: 10px;
    /* Add spacing between label and input */
    width: auto;
    /* Set a fixed width for the label */
}

.ui-input-text {
    margin: 0;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

tr {
    border: solid #ccc 1px;
}

/* Image and popup styles */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-table-cell-visible {
    padding: 0;
}

.popup-trigger {
    display: inline-block;
    transition: transform 0.2s;
}

.popup-trigger img {
    width: 300px;
    height: 300px;
    border: 2px solid transparent;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 70%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup:target {
    display: block;
}

.image-container:target {
    border-color: green;
}

.popup-trigger:hover {
    transform: scale(1.1);
    filter: sepia(0.3);
}

.popup-trigger:active {
    transform: scale(0.9);
    filter: sepia(0.6);
}

.close-popup {
    display: block;
    text-align: right;
    cursor: pointer;
    color: #333;
}

/* Styling the label to look like an "X" button */
.close-popup::before {
    font-size: 18px;
    color: #333;
}

#sheets-toggle {
    cursor: pointer;
}

th:first-of-type {
    border-top-left-radius: 10px;
}

th:last-of-type {
    border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

table.dltrc {
    width: 95%;
    border-collapse: separate;
    border-spacing: 0px;
    border: solid #ccc 2px;
    border-radius: 5px;
}

tr.dlheader {
    text-align: center;
    font-weight: bold;
    border-left: solid #ccc 1px;
    padding: 2px
}

td.dlheader {
    background: #d9d9d9;
    text-align: center;
    font-weight: bold;
    border-left: solid #ccc 1px;
    border-radius: 0px;
    padding: 2px
}

tr.dlinfo,
td.dlinfo {
    text-align: center;
    border-left: solid #ccc 1px;
    border-top: solid #ccc 1px;
    padding: 2px
}

td.dlinfo:first-child,
td.dlheader:first-child {
    border-left: none;
}

td.dlheader:first-child {
    border-radius: 5px 0 0 0;
}

td.dlheader:last-child {
    border-radius: 0 5px 0 0;
}

.ui-page {
    background-color: white;
}

.ui-btn {
    background-color: white;
}

.nests {
    columns: 2;
    display: grid;
    margin: 25px;
    grid-template-columns: 320px 320px;
    grid-template-rows: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.nest {
    width: 300px;
    height: 230px;
}

.nests p {
    padding-top: 8px;
    text-align: center;
    z-index: 10;
    position: relative;
}

.nest_image {
    height: 220px;
    width: 290px;
    position: absolute;
    padding: 5px;
    margin-top: -30px;
}

.ui-input-text input,
.ui-inpput-search input {
    min-height: 30px;
    max-height: 30px;
    border: none;
}

@media print {
    .ui-table-columntoggle-btn {
        display: none;
    }

    .page-break {
        page-break-after: always;
    }
}