# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Stuff I added myself:
*.exe
Recordings
logs/
*.vscode
__pycache__
settings.json
data
backups
*.zip
venv/
*.ini
server/data/
Piney MFG
*.xlsx
*.xls
credentials.json
images/
test2.py
test.py
test.png
test.jpeg
test_ui.py
parts batch to upload history/
parts in inventory images/
received_file.json
*.dxf
*.DXF
inventory_file_to_use.txt
*.pdf
output.txt
test/
output.csv
server/data/
Quotes
Workorders
test.json
test_output.html
*.prof