altgraph
astroid
beautifulsoup4
black
bs4
certifi
charset-normalizer
click
colorama
commonmark
dill
forex-python
future
html5lib
idna
isort
lazy-object-proxy
mccabe
mypy-extensions
pathspec
pefile
platformdirs
Pygments
pyinstaller
pyinstaller-hooks-contrib
pylint
PyQt5
PyQt5-Qt5
PyQt5-sip
pywin32-ctypes
requests
rich
simplejson
six
soupsieve
tomli
tomlkit
urllib3
webencodings
wrapt