body.dark {
    /* https://www.beercss.com */
    --primary: #8dcdff;
    --on-primary: #00344f;
    --primary-container: #004b70;
    --on-primary-container: #cae6ff;
    --secondary: #b7c9d9;
    --on-secondary: #22323f;
    --secondary-container: #384956;
    --on-secondary-container: #d3e5f5;
    --tertiary: #cfc0e8;
    --on-tertiary: #362b4b;
    --tertiary-container: #4d4162;
    --on-tertiary-container: #ebddff;
    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffb4ab;
    --background: #1a1c1e;
    --on-background: #e2e2e5;
    --surface: #111416;
    --on-surface: #e2e2e5;
    --surface-variant: #41474d;
    --on-surface-variant: #c1c7ce;
    --outline: #8b9198;
    --outline-variant: #41474d;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #e2e2e5;
    --inverse-on-surface: #2e3133;
    --inverse-primary: #006493;
    --surface-dim: #111416;
    --surface-bright: #37393c;
    --surface-container-lowest: #0c0e11;
    --surface-container-low: #1a1c1e;
    --surface-container: #1e2022;
    --surface-container-high: #282a2d;
    --surface-container-highest: #333537;
    --overlay: rgb(0 0 0 / 0.5);
    --active: rgb(255 255 255 / 0.2);
    --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
    --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
    --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
    /* CUSTOM */
    --primary-hover: #a4d7ff;
    --primary-green: #8dff9e;
    --primary-green-hover: #a4ffc2;
    --on-primary-green: #004f10;
    --primary-yellow: #dbc90a;
    --primary-yellow-hover: #f7ffa4;
    --on-primary-yellow: #363100;
    --primary-red: #ffb4a9;
    --primary-red-hover: #ffc2c2;
    --on-primary-red: #690002;
    --border-radius: 5px;
    --padding: 6px 12px;
    --small-padding: 5px;
    --disabled: #8C8C8C;
    --job-planning: #dbc90a;
    --job-quoting: #bcdc77;
    --job-quoted: #77dc77;
    --job-quote-confirmed: #77dccd;
    --job-template: #ffb870;
    --job-workspace: #9ecaff;
    --job-archive: #d3bbff;
    --table-order-pending: #24683e;
    --table-red-quantity: #542a2a;
    --table-yellow-quantity: #54532a;
    --high-priority: #3F1E25;
    --medium-priority: #413C28;
}