body.light {
    /* https://www.beercss.com */
    --primary:#006493;
    --on-primary:#ffffff;
    --primary-container:#cae6ff;
    --on-primary-container:#001e30;
    --secondary:#50606e;
    --on-secondary:#ffffff;
    --secondary-container:#d3e5f5;
    --on-secondary-container:#0c1d29;
    --tertiary:#65587b;
    --on-tertiary:#ffffff;
    --tertiary-container:#ebddff;
    --on-tertiary-container:#201634;
    --error:#ba1a1a;
    --on-error:#ffffff;
    --error-container:#ffdad6;
    --on-error-container:#410002;
    --background:#fcfcff;
    --on-background:#1a1c1e;
    --surface:#f9f9fc;
    --on-surface:#1a1c1e;
    --surface-variant:#dde3ea;
    --on-surface-variant:#41474d;
    --outline:#72787e;
    --outline-variant:#c1c7ce;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#2e3133;
    --inverse-on-surface:#f0f0f3;
    --inverse-primary:#8dcdff;
    --surface-dim:#d9dadd;
    --surface-bright:#f9f9fc;
    --surface-container-lowest:#ffffff;
    --surface-container-low:#f3f3f6;
    --surface-container:#edeef1;
    --surface-container-high:#e8e8eb;
    --surface-container-highest:#e2e2e5;
    --overlay: rgb(0 0 0 / 0.5);
    --active: rgb(255 255 255 / 0.2);
    --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
    --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
    --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
    /* CUSTOM */
    --primary-hover:#207fab;
    --primary-green: #006e1c;
    --primary-green-hover: #068e28;
    --on-primary-green: #ffffff;
    --primary-yellow: #695f00;
    --primary-yellow-hover: #8d8221;
    --on-primary-yellow: #ffffff;
    --primary-red: #bb1614;
    --primary-red-hover: #cd4442;
    --on-primary-red: #ffffff;
    --border-radius: 5px;
    --padding: 6px 12px;
    --small-padding: 5px;
    --disabled: #8C8C8C;
    --job-planning: #695f00;
    --job-quoting: #466e00;
    --job-quoted: #006e1c;
    --job-quote-confirmed: #006e58;
    --job-template: #8b5000;
    --job-workspace: #0061a4;
    --job-archive: #6f43c0;
    --table-order-pending: #94f990;
    --table-red-quantity: #ffdad5;
    --table-yellow-quantity: #ffdf9e;
    --high-priority: #ffdad5;
    --medium-priority: #ffdf9e;
}