<!doctype html>
<title>Invigo</title>
<head>
    <meta property="og:title" content="Invigo" />
    <meta property="og:url" content="http://10.0.0.10:5051" />
    <meta property="og:description" content="View inventory." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div id="downloads">
        <div class="scroll">
        	<details>
        		<summary>Inventory</summary>
            	{% for category, category_data in inventory.items() %}
            	<details>
	                <summary>{{category}}</summary>
	                Total Cost: ${{unit_costs[category]}}
	                <div class="content">
	                    <div class="scroll">
	                        {% for group, value in category_data.items() %}
	                        <details id='group'>
	                            <summary id='group_name'>{{group}}</summary>
	                            <div class="content">
	                                <div class="scroll">
	                                    <table>
	                                        <thead>
	                                            <tr>
	                                                <th>Part Name</th>
	                                                <th>Part Number</th>
	                                                <th>Quantity Per Unit</th>
	                                                <th>Quantity in Stock</th>
	                                                <th>Item Price</th>
	                                                <th>Exchange Rate</th>
	                                                <th>Priority</th>
	                                                <th>Notes</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
	                                            {% for item_name, item_dictionary in value.items() %}
	                                            <tr>
	                                                <th>{{item_name}}</th>
	                                                <td>{{item_dictionary['part_number']}}</td>
	                                                <td>{{item_dictionary['unit_quantity']}}</td>
	                                                {% if item_dictionary['current_quantity'] <= 10 %}
	                                                <td class="high-priority">{{item_dictionary['current_quantity']}}</td>
	                                                {% elif item_dictionary['current_quantity'] <= 20 %}
	                                                <td class="medium-priority">{{item_dictionary['current_quantity']}}</td>
	                                                {% else %}
	                                                <td>{{item_dictionary['current_quantity']}}</td>
	                                                {% endif %}
	                                                <td sorttable_customkey={{item_dictionary['price']}}>
	                                                    ${{item_dictionary['price']}}
	                                                </td>
	                                                {% if item_dictionary['use_exchange_rate'] == true %}
	                                                <td sorttable_customkey=USD>
	                                                    USD
	                                                </td>
	                                                {% else %}
	                                                <td sorttable_customkey=CAD>
	                                                    CAD
	                                                </td>
	                                                {% endif %}
	                                                {% if item_dictionary['priority'] == 0 %}
	                                                <td sorttable_customkey="0">Default</td>
	                                                {% elif item_dictionary['priority'] == 1 %}
	                                                <td sorttable_customkey="1"> Low</td>
	                                                {% elif item_dictionary['priority'] == 2 %}
	                                                <td sorttable_customkey="2" class="medium-priority">Medium</td>
	                                                {% elif item_dictionary['priority'] == 3 %}
	                                                <td sorttable_customkey="3" class="high-priority">High</td>
	                                                {% endif %}
	                                                <td>{{item_dictionary['notes']}}</td>
	                                            </tr>
	                                            {% endfor %}
	                                        </tbody>
	                                    </table>
	                                </div>
	                            </div>
	                        </details>
	                        {% endfor %}
	                    </div>
	                </div>
	            </details>
                {% endfor %}
        	</details>
        	<br>
        	<details>
        		<summary>Parts in Inventory</summary>
        		{% for category, category_data in parts_in_inventory.items() %}
        		<details>
        			<summary>{{category}}</summary>
        			<div class="content">
                        <div class="scroll">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Part Name</th>
                                        <th>Parts Per</th>
                                        <th>Item Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item_name, item_dictionary in category_data.items() %}
                                    <tr>
                                        <th>{{item_name}}</th>
                                        <td>{{item_dictionary['unit_quantity']}}</td>
                                        <td>
								        {{ item_dictionary['price'] }}
										</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
        		</details>
        		{% endfor %}
        	</details>
            <br>
            <details>
                <summary>Price of Steel</summary>
                <div class="content">
                    <div class="scroll">
                        <table>
                            <thead>
                                <tr>
                                    {% for steel_name, item_dictionary in price_of_steel.items() %}
                                    <th>{{steel_name}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for steel_name, item_dictionary in price_of_steel.items() %}
                                    <td>${{item_dictionary['price']}}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </details>
        </div>
    </div>
</head>
<h3>{{last_updated}}</h3>
<br>
<br>

