<!doctype html>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>


<head>
    <link rel="icon" href="/static/favicon.png">
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css"
        rel="stylesheet" />
    <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css"
        rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href='/static/main.css' />

    <meta property="og:title" content="HBNI Audio Archive" />
    <meta property="og:url" content="https://hbniaudioarchive.herokuapp.com" />
    <meta property="og:image" content="https://hbniaudioarchive.herokuapp.com/static/hbnilogo.png" />
    <meta property="og:description" content="Download or relisten to previously broadcasted streams." />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div id="logo">
        <img src="/static/hbnilogo.png">
    </div>
    <div id="menu">
        <h1 id="header">HBNI Audio Streaming Archive</h1>
    </div>
    <h4> Downloads </h4>
    <div id="downloads">
        <br>
        <div class="search-box">
            <div class="search-icon"><i class="fa fa-search search-icon"></i></div>

            <form action="" class="search-form">
                <input type="text" placeholder="Search" id="search" autocomplete="off" value={{searchValue}}>
            </form>
            <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;" xml:space="preserve">
                <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280" />
                <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280" />
            </svg>
            <div class="go-icon"><i class="fa fa-close"></i></div>
        </div>
        <br>
        <div class="container">
            <div class="item">
                <h3>Quick Search</h3>
            </div>
            <div class="item">
                <select name="search_categories" id="coloylist" class="selectpicker" data-style="btn-info"
                    data-live-search="true">
                    <option value="" selected="selected" disabled>Select Quick Search</option>
                    <optgroup label="Colonies">
                        {% for coloyName in colonySearchList%}
                        <option value={{coloyName}}>{{coloyName}}</option>
                        {%endfor%}
                    </optgroup>
                    <optgroup label="Months">
                        {% for month in monthsList%}
                        <option value={{month}}>{{month}}</option>
                        {%endfor%}
                    </optgroup>
                    <optgroup label="Days of the week">
                        {% for day in daysList%}
                        <option value={{day}}>{{day}}</option>
                        {%endfor%}
                    </optgroup>
                </select>
            </div>
        </div>
        <br>

        <div class="scroll">
            {% for fileName, downloadLink in downloadableRecordings %}
            <p>
                <a target="_blank" href={{ downloadLink }}>
                    <button class="buttonDownload"><i class="fa fa-download"></i> {{ fileName }}</button>
                </a>
            </p>
            {% endfor %}
        </div>
    </div>
    <div class="recording_status_container">
        <div class="item">
            <h3>Recording Status: </h3>
        </div>
        {% if recordingStatus != "Currently nothing to record"%}
        <div class="item">
            Currently recording <a href="http://hbniaudio.hbni.net:8000{{recordingStatus}}">{{recordingStatus}}</a>
        </div>
        <div class="item">
            <div class="recorder-container">
                <div class="outer"></div>
                <div class="outer-2"></div>
            </div>
        </div>
        {% else %}

        <div class="item">
            {{recordingStatus}}
        </div>
        {% endif %}
    </div>
</head>

<br>
<br>
<footer>
    <div class="footer-container">
        <h3>HBNI Streaming Archive</h3>
    </div <div class="address">For Questions, Comments or Concerns about this service please email: <a
        href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a></p>
    </div>
    <ul class="apps">

        <a class="download apple" href="https://apps.apple.com/ca/app/hbni-audio-streaming/id1611672333">
            <i class="fa fa fa-apple fa-3x"></i>
            <span class="df">Download from</span>
            <span class="dfn">App Store</span>
        </a>
        <a class="download windows" href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Listener/releases">
            <i class="fa fa fa-windows fa-3x"></i>
            <span class="df">Get it on</span>
            <span class="dfn">Windows</span>
        </a>
        <a class="download linux"
            href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Listener#development-setup">
            <i class="fa fa fa-linux fa-3x"></i>
            <span class="df">Get it on</span>
            <span class="dfn">Linux</span>
        </a>
        <a class="download android"
            href="https://play.google.com/store/apps/details?id=com.thecodingjsoftware.hutteritechurch">
            <i class="fa fa fa-android fa-3x"></i>
            <span class="df">Download from</span>
            <span class="dfn">Google Play</span>
        </a>
    </ul>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2022 by TheCodingJ's</p>
    </div>
</footer>
<script>
    var input = document.getElementById("search");
    // Execute a function when the user releases a key on the keyboard
    input.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            location.replace(input.value);
            if (input.value === "") {
                location.assign('https://hbniaudioarchive.herokuapp.com');
            }
        }
    });
    $(document).ready(function () {
        $(".go-icon").addClass("go-in");
        $("#search").focus(function () {
            $(".search-box").addClass("border-searching");
            $(".search-icon").addClass("si-rotate");
        });
        $("#search").blur(function () {
            $(".search-box").removeClass("border-searching");
            $(".search-icon").removeClass("si-rotate");
        });
        $(".go-icon").click(function () {
            $(".search-form").submit();
            $(".go-icon").removeClass("go-in");
            location.assign('https://hbniaudioarchive.herokuapp.com');
        });
        $(function () {
            $('select').on('change', function (e) {
                location.replace(this.value);
            });

        });
    });
</script>

</html>