@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
	scroll-behavior: smooth;
	justify-content: center;
	position: center;
	height: 100%;
	text-align: center;
	align-items: center;
	margin: auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}


footer {
	position: relative;
	bottom: 0;
	background: #121212;
	width: 100%;
	font-family: "Open Sans";
	color: #fff;
	border-radius: 10px;
}

details {
	text-align: center;
	color: #fff;
	font-size: 200%;
	overflow: none;
	background-color: #222222;
	padding: 6px;
	border-radius: 25px;
	border: 1px solid #76797c;
}

details:hover {
	border: 1px solid #3daee9;
}

details span {
	display: inline-block;
	margin-top: 1rem;
}

details summary::-webkit-details-marker {
	display: none;
}

details[open]>summary:before {
	transform: rotate(90deg);
}

details[open] summary {
	opacity: 0.8;
	animation-name: fadeOut;
	animation-duration: 5000ms;
}

.graph {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

details[open]>summary:before {
	content: "⇩ ";
}

details>summary:before {
	content: "⇨ ";
}

details>summary {
	padding: 2px 6px;
	font-weight: 700;
	border: none;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	border: 1px solid #3daee9;
	margin-top: 20px;
	font-size: 80%;
}

.grid {
	display: grid;
	/* height: 100%; */
	/* background-color: lightgreen; */
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	grid-gap: 100px;
	grid-auto-columns: 100%;
	grid-auto-flow: row;
}

.apps {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0
}


.apps a {
	text-decoration: none;
	color: #fff;
}


.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 1srem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}



.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-container {
	margin-top: 10px;
	margin-bottom: 15px;
}

footer {
	border: 1px solid #76797c;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

.scroll {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 2%;
	width: auto;
	height: auto;
	font-size: large;
}

#group {
	overflow-y: auto;
	overflow-x: hidden;
	background: rgb(32, 32, 32);
	padding: 2%;
	width: auto;
}

#group_name {
	font-size: 25px;
}

th,
td {
	border: 1px solid #222222;
	padding: 8px;
	font-size: 1.4rem;
	min-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;

}

@media only screen and (max-width: 1800px) {

	/* horizontal scrollbar for tables if mobile screen */
	table {
		overflow-x: auto;
		display: block;
	}
}

table {
	border-collapse: collapse;
	border: 1px solid #222222;
	text-align: center;
	vertical-align: middle;
}

body {
	font-family: sans-serif;
}

thead {
	background-color: rgb(32, 32, 32);
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
	background-color: rgb(54, 54, 54);
}

tbody tr:nth-child(even) {
	background-color: rgb(41, 41, 41);
}

tbody th {
	background-color: rgba(28, 166, 241, 0.326);
	color: #fff;
	text-align: left;
	font-size: 1.4rem;
}

tbody tr:nth-child(even) th {
	background-color: rgba(61, 172, 232, 0.267);
}

thead th {
	width: 25%;
}

.low-priority {
	background-color: white;
	font-weight: bold;
}

.medium-priority {
	color: yellow;
}

.high-priority {
	color: red;
}

.container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	width: 500px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.item {
	box-sizing: border-box;
	align-content: end;
	align-items: center;
	width: auto;
	min-width: 80px;
	height: autp;
}

body {
	justify-content: center;
	position: center;
	align-items: center;
	margin: auto;
	height: 100%;
	background-color: #1c1c1c;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(240, 244, 245);
}

#menu {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 35px;
	margin: auto;
}


a {
	color: #4CC713;
	text-decoration: none;
	border-bottom: 1px solid #71c288;
}

a:hover {
	color: #4CC713;
	text-decoration: none;
	border-bottom: 1px solid #4CC713;
}



h1 {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 3em;
	color: #fff;
	margin-top: 3px;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: #fff;
}

h3 small {
	color: #fff;
	font-size: 70%;
	padding-left: 15px;
}



h2 {
	background-color: #71a7c2;
	padding: 6px;
	border-radius: 25px;
}

h4 {
	background-color: rgb(83, 178, 187);
	padding: 10px;
	border-radius: 20px;
	text-align: center;
}


@media (max-width: 800px) {
	#header {
		font-size: 20px;
	}
}


.btn.dropdown-toggle.btn-info,
.btn.dropdown-toggle.bs-placeholder.btn-info {
	font-size: 14px;
	width: 100%;
	height: 40px;
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 10px;
	outline: 0;
	background: #222222;
	color: #eff0f1;
	border: 1px solid #76797c;
	padding: 4px;
	border-radius: 10px;
	position: relative;
	font-size: 13px;
	padding: 10px 8px 10px 14px;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
}

.btn.dropdown-toggle.btn-info:hover {
	border: 1px solid #3daee9;
}

.search_categories .select select {
	background: transparent;
	line-height: 1;
	border: 0;
	padding: 0;
	border-radius: 0;
	width: 100%;
	position: relative;
	z-index: 10;
	font-size: 1em;
	color: black;
	border: 1px solid #3daee9;
}

.search-box {
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 50px;
	border-radius: 120px;
	margin: 0 auto;
	background: #222222;
}

.search-icon,
.go-icon {
	position: absolute;
	top: 0;
	height: 50px;
	width: 86px;
	line-height: 51px;
	text-align: center;
}

.search-icon {
	left: 0;
	pointer-events: none;
	font-size: 1.22em;
	will-change: transform;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.si-rotate {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.go-icon {
	right: 0;
	pointer-events: none;
	font-size: 1.38em;
	will-change: opacity;
	cursor: default;
	opacity: 0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.go-in {
	opacity: 1;
	pointer-events: all;
	cursor: pointer;
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
	transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
	-o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.search-border {
	display: block;
	width: 100%;
	height: 50px;
	max-width: 360px;
	min-height: 50px;
}

.border {
	fill: none;
	width: 100%;
	display: block;
	stroke: #76797c;
	stroke-width: 2;
	stroke-miterlimit: 10;
	max-width: 360px;
	height: 60px;
	min-height: 60px;
}

.border {
	stroke-dasharray: 740;
	stroke-dashoffset: 0;
	transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
	-o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
	stroke-dasharray: 740;
	stroke-dashoffset: 459;
	stroke: #3daee9;
	transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
	-o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

#search {
	font-family: 'Montserrat Alternates', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 120px;
	border: none;
	background: rgba(255, 255, 255, 0);
	padding: 0 68px 0 68px;
	color: #FFFFFF;
	font-size: 1.32em;
	font-weight: 400;
	letter-spacing: -0.015em;
	outline: none;
}

#search::-webkit-input-placeholder {
	color: #b3b3b3;
}

#search::-moz-placeholder {
	color: #b3b3b3;
}

#search:-ms-input-placeholder {
	color: #b3b3b3;
}

#search:-moz-placeholder {
	color: #b3b3b3;
}

#search::-moz-selection {
	color: #FFFFFF;
	background: rgba(66, 142, 255, 0.25);
}

#search::selection {
	color: #FFFFFF;
	background: rgba(66, 135, 255, 0.25);
}


@media (max-width: 800px) {
	h1 {
		font-size: 1.9em;
	}

	h2 {
		font-size: 1.4em;
	}

	.apps {
		display: grid;
		grid-template-rows: repeat(1, 1fr);
		gap: 5px;
		grid-auto-rows: minmax(100%, auto);
	}

	.container {
		grid-template-columns: auto;
		width: auto;

	}

	.recording_status_container {
		grid-template-columns: auto;
		width: auto;
	}

	.buttonDownload {
		width: 100%;
	}

	.scroll {
		font-size: small;
	}
}

.download {
	width: 200px;
	height: 75px;
	border-radius: 5px;
	position: relative;
	cursor: pointer;
	color: #eff0f1;
	background-color: #222222;
	border: 1px solid #76797c;
}

.download>.fa {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

.df,
.dfn {
	position: absolute;
	left: 70px;
}

.df {
	top: 20px;
	font-size: .68em;
}

.dfn {
	top: 33px;
	font-size: 1.08em;
}

.download:hover {
	background-color: #222222;
	border: 0.04em solid #3daee9;
	color: #eff0f1;
}