/* Main Window */

QMainWindow::separator {
    background: rgb(36, 36, 36);
    width: 4px;
}

QMenuBar {
    background-color: rgb(24, 24, 24);
}

QMenuBar:disabled {
    color: rgb(102, 102, 102);
}

QMenu::item:disabled {
    color: rgb(102, 102, 102);
    background-color: transparent;
}

QMenu::separator {
    background-color: rgb(44, 44, 44);
}

QStatusBar {
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(36, 36, 36);
}

/* Containers */

QDialog {
    background-color: rgb(44, 44, 44);
}

QFrame {
    background-color: rgb(44, 44, 44);
}

QGroupBox
{
    /* Need to make sure the groupbox doesn't compress below the title. */
    /* min-height: 1.2em; */
    border: 1px solid #76797c;
    border-radius: 5px;
    font-size: 24px;
    /**
     * This gives us enough space at the top to ensure we can move the
     * title to be inside the guidelines, and the padding at the top
     * ensures we have space below the title.
     */
    margin-top: 0.5em;
    padding-top: 0.6em;
}
QGroupBox::title
{
    /* We need to move 0.6em up to be inside the lines, +1em for padding. */
    top: -2.4em;
    subcontrol-origin: content;
    subcontrol-position: top center;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
QScrollArea {
    border: 1px solid rgb(65, 65, 65);
    background: rgb(44, 44, 44);
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QDOckWidget {
    color: rgb(144, 144, 144);
}

QDOckWidget::title {
    background: rgb(24, 24, 24);
}

/* QDOckWidget > QWidget {
    background: rgb(24, 24, 24);
} */

/* Scroll Bars */

QScrollBar:vertical {
    border: None;
    background: rgb(44, 44, 44);
    width: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:vertical {
    background: rgb(70, 70, 70);
    min-height: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:vertical {
    border: None;
    background: rgb(44, 44, 44);
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: None;
    background: rgb(44, 44, 44);
    height: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    background: None;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: None;
}

QScrollBar:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    height: 10px;
    border-radius: 4px;
    margin: 0;
}

QScrollBar:handle:horizontal {
    background: rgb(70, 70, 70);
    min-width: 20px;
    border-radius: 3px;
    margin: 2;
}

QScrollBar::add-line:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    width: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: None;
    background: rgb(44, 44, 44);
    width: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:verhorizontaltical {
    background: None;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: None;
}

/* Display Widgets */

QLabel {
    border-radius: 0px;
    border: 0px solid rgb(82, 82, 82);
    background-color: transparent;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QLabel:hover {
    border: 0px solid rgb(82, 82, 82);
}

QLabel:focus {
    border: 0px solid rgb(123, 132, 136);
}

/* Buttons */

QPushButton {
    background-color: rgb(71, 71, 71);
    border: 1px solid rgb(76, 76, 76);
    border-radius: 5px;
    padding: 3px 3px;
    color: rgb(210, 210, 210);
}

QPushButton:hover {
    background-color: rgb(76, 76, 76);
    border: 1px solid rgb(71, 76, 88);
}

QPushButton:pressed {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(47, 50, 57);
    color: rgb(132, 132, 132);
}

QPushButton:disabled {
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(57, 57, 57);
    color: rgb(144, 144, 144);
}

QPushButton:checked {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(125, 134, 138);
    color: rgb(144, 144, 144);
}

QPushButton:checked#order_status{
    color: lime;
    border-color: green;
    background-color: darkgreen;
}

QPushButton:!checked#order_status{
    color: gray;
}

QPushButton#delete_button{
    color: #ff0000; 
    border-color: #8b0000; 
    background-color: #682727; 
    border-radius: 5px;
}

QPushButton:hover#delete_button{
    color: #ff0000; 
    border-color: #6f0000; 
    background-color: #642a2a; 
    border-radius: 5px;
}

QPushButton:pressed#delete_button{
    color: #ff0000; 
    border-color: #5c0000; 
    background-color: #461f1f; 
    border-radius: 5px;
}

QToolTip {
    background-color: rgb(24, 24, 24);
    color: white;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
}

QToolButton {
    border-radius: 5px;
    background-color: transparent;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QToolButton:hover {
    background-color: rgb(76, 76, 76);
    border: 1px solid rgb(71, 76, 88);
}

QToolButton:pressed {
    background-color: rgb(39, 39, 39);
    border: 1px solid rgb(47, 50, 57);
}

QToolButton:disabled {
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(57, 57, 57);
    color: rgb(144, 144, 144);
}

QCheckBox {
    color: rgb(144, 144, 144);
    border-radius: 5px;
}

QCheckBox::indicator {
    border: 1px solid rgb(57, 57, 57);
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgb(49, 49, 49);
}

QCheckBox::indicator:hover {
    background: 5px solid #3c5863;
    border: 1px solid rgb(57, 77, 82);
}

QCheckBox::indicator:pressed {
    background: 5px solid #588495;
    border: 1px solid #57bfc1;
}

QCheckBox::indicator:checked {
    background: 5px solid #3daee9;
    border: 1px solid #00fbff;
}

QCheckBox:hover {
    color: rgb(167, 167, 167);
}

QCheckBox:checked {
    color: rgb(210, 210, 210);
}

/* Item Widgets */

QHeaderView:section {
    color: rgb(144, 144, 144);
    background: rgb(57, 57, 57);
    border: 0px solid rgb(44, 44, 44);
    border-radius: 0px;
    padding: 2px 4px;
}

QListWidget {
    background-color: rgba(29, 29, 29, 57);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 5px;
    padding: 0px;
    color: rgb(210, 210, 210);
}

QListWidget:hover  {
    border: 1px solid rgb(82, 82, 82);
    border-radius: 4px;
}

QListWidget::indicator {
    background-color: rgba(78, 78, 78, 57);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 4px;
}

QListWidget::indicator:checked {
    background: 3px solid rgba(255, 255, 255, 57);
    border: 1px solid rgb(67, 71, 77);
}

QListWidget::indicator:hover {
    background: 2x solid rgb(78, 78, 78);
    border-radius: 4px;
}

QListWidget:disabled {
    color: rgb(102, 102, 102);
}

QTreeWidget {
    border: 1px solid rgb(65, 65, 65);
    background-color: rgb(29, 29, 29);
    border-radius: 0px;
    padding: 0px;
    padding-bottom: 6px;
    color: rgb(210, 210, 210);
}

QTreeWidget::indicator {
    background-color: rgba(78, 78, 78, 57);
    border: 1px solid rgba(57, 57, 57, 57);
    border-radius: 0px;
}

QTreeWidget::indicator:checked {
    background: 3px solid rgb(144, 144, 144);
    border: 1px solid rgba(67, 71, 77, 57);
}

QTreeWidget::indicator:hover {
    border: 1px solid rgba(78, 78, 78);
    border-radius: 0px;
}

QTreeWidget:disabled {
    color: rgb(102, 102, 102);
}

QTreeWidget:hover {
    border: 1px solid rgb(82, 82, 82);
}

QTreeWidget::item {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 0px;
}

QTreeWidget::item:selected {
    background-color: rgba(110, 120, 125, 200);
}
QListWidget::item:selected {
    background-color: #3daee9;
}
/* QTableWidget {
    border: 0px solid rgb(65, 65, 65);
    background: rgb(44, 44, 44);
    border-radius: 4px;
}

QTableCornerButton::section {
    border: 1px solid rgb(57, 57, 57);
    background: rgb(57, 57, 57);
    border-radius: 0px;
}

QTableWidget:hover {
    border: 0px solid rgb(82, 82, 82);
    background: rgb(44, 44, 44);
    border-radius: 4px;
} */
QTableWidget::item:selected{
    background: #99D9EA;
    color: black;
    border-radius: 0px;
}

/* QTableWidget:item { */
    /* border: 0px solid rgb(65, 65, 65); */
    /* border-bottom: 1px solid white; */
    /* background-color: transparent; */
    /* color: rgb(240, 240, 240); */
    /* border-radius: 4px; */
/* } */

/* Input Widgets */

QComboBox {
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QComboBox::editable {
    background-color: rgb(39, 39, 39);
}

QComboBox::editable:focus {
    border: 1px solid rgb(125, 134, 138);
}

QComboBox:hover {
    border: 1px solid rgb(82, 82, 82);
}

QComboBox:disabled {
    color: rgb(102, 102, 102);
}

QComboBox::drop-down:button {
    border-radius: 5px;
}

QComboBox::down-arrow {
    image: url(ui/drop-down.svg);
    width: 12px;
    height: 12px;
}

QLineEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 1px solid rgb(65, 65, 65);
}

QLineEdit:hover {
    border: 1px solid rgb(82, 82, 82);
}

QLineEdit:focus {
    border: 1px solid rgb(125, 134, 138);
}

QTextEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 1px solid rgb(65, 65, 65);
}

QTextEdit:hover {
    border: 1px solid rgb(82, 82, 82);
}

QTextEdit:focus {
    border: 1px solid rgb(125, 134, 138);
}

QPlainTextEdit {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 1px solid rgb(65, 65, 65);
}

QPlainTextEdit:hover {
    border: 1px solid rgb(82, 82, 82);
}

QPlainTextEdit:focus {
    border: 1px solid rgb(125, 134, 138);
}

QSpinBox {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 1px solid rgb(65, 65, 65);
}

QSpinBox:hover {
    border: 1px solid rgb(82, 82, 82);
}

QSpinBox:focus {
    border: 1px solid rgb(125, 134, 138);
}

QSpinBox:disabled {
    color: rgb(144, 144, 144);
}

QDoubleSpinBox {
    border-radius: 5px;
    background-color: rgb(29, 29, 29);
    padding: 1px 3px;
    color: rgb(210, 210, 210);
    border: 1px solid rgb(65, 65, 65);
}
QDoubleSpinBox:hover {
    border: 1px solid rgb(82, 82, 82);
}

QDoubleSpinBox:focus {
    border: 1px solid rgb(125, 134, 138);
}

QDoubleSpinBox:disabled {
    color: rgb(144, 144, 144);
}

QAbstractSpinBox:up-button,
QAbstractSpinBox:up-button:hover
{
    background-color: transparent;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    padding-right: 0.1em;
    padding-top: 0.1em;
    width: 0.8em;
    height: 0.5em;
}

QAbstractSpinBox:down-button,
QAbstractSpinBox:down-button:hover
{
    background-color: transparent;
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    padding-right: 0.1em;
    padding-bottom: 0.1em;
    width: 0.8em;
    height: 0.5em;
}
QAbstractSpinBox::up-arrow,
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off,
QAbstractSpinBox::up-arrow:!off:!disabled:hover,
QAbstractSpinBox::down-arrow,
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off,
QAbstractSpinBox::down-arrow:!off:!disabled:hover
{
    border-image: none;
    width: 0.8em;
    height: 0.5em;
}

QAbstractSpinBox::up-arrow
{
    image: url(ui/up_arrow.svg);
}

QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off
{
    image: url(ui/up_arrow_disabled.svg);
}

QAbstractSpinBox::up-arrow:hover
{
    image: url(ui/up_arrow_hover.svg);
}

QAbstractSpinBox::down-arrow
{
    image: url(ui/down_arrow.svg);
}

QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off
{
    image: url(ui/down_arrow_disabled.svg);
}

QAbstractSpinBox::down-arrow:!off:!disabled:hover
{
    image: url(ui/down_arrow_hover.svg);
}

QDateEdit {
    background-color: rgb(65, 65, 65);
    border: 1px solid rgb(65, 65, 65);
    border-radius: 5px;
    padding: 1px 3px;
    color: rgb(210, 210, 210);
}

QDateEdit::editable {
    background-color: rgb(39, 39, 39);
}

QComboBox::editable:focus {
    border: 1px solid rgb(125, 134, 138);
}

QDateEdit:hover {
    border: 1px solid rgb(82, 82, 82);
}

QDateEdit:disabled {
    color: rgb(102, 102, 102);
}

QDateEdit::drop-down:button {
    border-radius: 5px;
}

QDateEdit::down-arrow {
    image: url(ui/drop-down.svg);
    width: 12px;
    height: 12px;
}
